# **Reto II**

### 1. Dataset

Los datos de origen son proporcionados en un archivos csv:

* udfs: dataset con datos de operaciones financieras.

### 2. Columnas y significado:

* nb: número de referencia de la operación.
* contract: identificador de contrato.
* udf_ref: identificador de operación de trading.
* fmly: familia a la que pertenece la operación financiera.
* grp: grupo al que pertenece la operación financiera.
* type: tipo de operación financiera.
* country: país de origen de la operación.
* udf_name: campo informado en el registro.
* num_value: valor numérico.
* string_value: valor de cadena de caracteres.
* date_value: valor de fecha.
* data_timestamp_part: marca temporal.
* data_date_part: fecha en la que se almacena la información.
* source_system: fuente de los datos.

### 3. Descripción del problema:

Si hacemos una visión general a nuestro conjunto de datos, podemos observar como hay hasta 10 registros (filas) para cada valor de *nb*, donde cada registro solo da información para un valor de *udf_name*. Esto es un gasto innecesario de almacenamiento y computación, además de complicar los futuros cálculos derivados de estos datos. Por esta razón, necesitamos convertir estos registros con el mismo *nb* a un solo registro.

Nuestro dataframe final tendrá que contener las siguientes columnas: `nb, M_CCY, M_CLIENT, M_CRDTCHRG, M_DIRECTIAV, M_DISCMARGIN, M_LIQDTYCHRG, M_MVA, M_RVA, M_SELLER, M_SUCURSAL`

* nb: debe contener el número de referencia de la operación.
* M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL: deben mapear el valor de *string_value*
* M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, , M_MVA, M_RVA: deben mapear el valor de *num_value*


Una vez tengamos este resultado, necesitaremos eliminar las operaciones que no tengan informados ninguno de los siguientes campos:

M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_MVA, M_RVA, M_SELLER

No informados en este caso significa que o son valores nulos, vacíos o 0, en el caso de los campos numéricos.

### 4. Reto:

* Obtener un dataframe final que contenga las columnas indicadas, con un registro por *nb* y con los valores correctos mapeados.
* Las operaciones con los campos M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, , M_MVA, M_RVA, M_SELLER no informados no deben existir.
* Hacerlo de la manera más eficiente posible a nivel computacional.

**NOTA:** Cada uno de los pasos descritos en el problema pueden efectuarse en una sola línea.

### Inicialización de SparkSession:

In [14]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (SparkSession
 .builder
 .appName("Reto 2")
 .master("local")
 .getOrCreate())

In [10]:
udfs = (spark.read.format("csv")
        .option("header", "true")
        .option("delimiter", ";")
        .load("./data/udfs.csv")
        .cache()
       )

### Resultado:

**INSTRUCCIONES**: El DataFrame resultante debe almacenarse en la variable `resultado`, sustituyendo el valor `None` por el código que consideréis oportuno. De esta forma podréis comprobar si el resultado es correcto.

In [75]:
resultado = (udfs
             .select("nb",
                     "udf_name",
                     "string_value",
                     "num_value")
             .groupBy("nb")
             .pivot("udf_name")
             .agg(F.first("string_value"),F.first("num_value"))
             .select(F.col("nb"),
                     F.col("M_CCY_first(string_value)").alias("M_CCY"),  
                     F.col("M_CLIENT_first(string_value)").alias("M_CLIENT"), 
                     F.col("M_CRDTCHRG_first(num_value)").alias("M_CRDTCHRG"), 
                     F.col("M_DIRECTIAV_first(num_value)").alias("M_DIRECTIAV"),
                     F.col("M_DISCMARGIN_first(num_value)").alias("M_DISCMARGIN"), 
                     F.col("M_LIQDTYCHRG_first(num_value)").alias("M_LIQDTYCHRG"), 
                     F.col("M_MVA_first(num_value)").alias("M_MVA"), 
                     F.col("M_RVA_first(num_value)").alias("M_RVA"),
                     F.col("M_SELLER_first(string_value)").alias("M_SELLER"),
                     F.col("M_SUCURSAL_first(string_value)").alias("M_SUCURSAL")
                    )              
             .where( (F.col("M_DISCMARGIN") > 0) |
                     (F.col("M_DIRECTIAV") > 0) |
                    (F.col("M_LIQDTYCHRG") > 0) |
                    (F.col("M_CRDTCHRG") > 0) |
                    (F.col("M_MVA") > 0) |
                    (F.col("M_RVA") > 0) |
                    (F.length(F.col("M_SELLER")) > 0)
                   ).cache()
            )
udfs.unpersist()

DataFrame[nb: string, contract: string, udf_ref: string, fmly: string, grp: string, type: string, country: string, udf_name: string, num_value: string, string_value: string, date_value: string, data_timestamp_part: string, data_date_part: string, source_system: string]

In [76]:
assert(len(resultado.columns) == 11)
assert(resultado.columns[4] == "M_DIRECTIAV")
assert(resultado.select("M_SELLER").filter(F.col("nb") == 23037162).first()[0] == "AMAM")
assert(resultado.select("M_SELLER").filter(F.col("nb") == 19665186).first()[0] == "LB_VSTAVRE")
assert(resultado.select("M_RVA").filter(F.col("nb") == 444111222).first()[0] == "8956")

In [80]:
resultado.toPandas()

,nb,M_CCY,M_CLIENT,M_CRDTCHRG,M_DIRECTIAV,M_DISCMARGIN,M_LIQDTYCHRG,M_MVA,M_RVA,M_SELLER,M_SUCURSAL
0,20513130,None,CCMO,0.000000000000,0.000000000000,10,0.000000000000,20,0.000000000000,WATT,5493
1,18710605,MXN,None,None,0.000000000000,None,None,None,None,AMAM,None
2,20533916,None,CCMO,0.000000000000,0.000000000000,50,0.000000000000,30,0.000000000000,WATT,1999
3,23097010,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
4,555111222,USD,None,30.000000000000,0.000000000000,10,50.000000000000,20,0.000000000000,LB_TLECLER,1999
5,22784054,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
6,22798005,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
7,22853656,BRL,None,None,0.000000000000,None,None,None,None,AMAM,None
8,10000001,None,NULL,20,0.000000000000,10,30,0.000000000000,0.000000000000,SELLER1,1999
9,19665186,None,NULL,20.000000000000,1200.000000000000,100,20.000000000000,0.000000000000,0.000000000000,LB_VSTAVRE,5493
10,23037162,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
11,33333333,None,None,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SSSSSSS,None
12,23126648,USD,None,None,0.000000000000,None,None,None,None,AMAM,None
13,316391872,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
14,444111222,None,MMMM,0.000000000000,9056,0.000000000000,0.000000000000,20,8956,VVVVVV,1212
15,67843276,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
16,18937013,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
17,19665185,None,NULL,20.000000000000,1200.000000000000,0.000000000000,20.000000000000,0.000000000000,0.000000000000,LB_VSTAVRE,5493
18,20665178,None,NULL,20.000000000000,1200.000000000000,100,20.000000000000,0.000000000000,0.000000000000,LB_VSTAVRE,5493
19,22980629,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
20,20665177,None,NULL,20.000000000000,1200.000000000000,0.000000000000,20.000000000000,0.000000000000,0.000000000000,LB_VSTAVRE,5493
21,22535816,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
22,111222333,None,MMMM,0.000000000000,9056,0.000000000000,0.000000000000,20,8956,VVVVVV,1212
23,16719306,USD,None,None,0.000000000000,None,None,None,None,AMAM,None
24,23037161,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
25,10000009,None,NULL,20,0.000000000000,10,30,0.000000000000,0.000000000000,SELLER9,1999
26,19772400,None,None,10,0.000000000000,47.262000000000,30,0.000000000000,0.000000000000,LB_TLECLER,1999
27,79831432,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
28,20942932,None,None,100.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SELLER 11,1999
29,22535815,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
30,222333111,None,MMMM,0.000000000000,9056,0.000000000000,0.000000000000,20,8956,VVVVVV,1212
31,22980630,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
32,20980932,USD,None,20.000000000000,0.000000000000,0.112000000000,20.000000000000,0.000000000000,0.000000000000,CE_NGIRARD,1999
33,21321178,USD,None,None,0.000000000000,None,None,None,None,AMAM,None
34,21183317,None,None,100.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SELLER 10,None
35,556111214,USD,None,30.000000000000,0.000000000000,10,50.000000000000,20,0.000000000000,LB_TLECLER,1999
36,22798004,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
37,18937012,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
38,18710606,MXN,None,None,0.000000000000,None,None,None,None,AMAM,None
39,21529916,None,None,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SOV_GSM,1999
40,20980933,None,None,20.000000000000,0.000000000000,0.112000000000,20.000000000000,0.000000000000,0.000000000000,CE_NGIRARD,1999
41,2222222,USD,CCMO,30.000000000000,0.000000000000,10,50.000000000000,20,0.000000000000,LB_TLECLER,1999
42,19772399,None,None,0.000000000000,0.000000000000,47.262000000000,0.000000000000,0.000000000000,0.000000000000,LB_TLECLER,1999
43,19335398,USD,None,None,0.000000000000,None,None,None,None,AMAM,None
44,333111222,None,MMMM,0.000000000000,9056,0.000000000000,0.000000000000,20,8956,VVVVVV,1212
45,18343978,GBP,CCMO,0.000000000000,0.000000000000,10,0.000000000000,20,0.000000000000,LB_TLECLER,1999
46,21529917,None,None,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SOV_GSM,1999
47,22759961,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
48,14773283,None,NULL,10,10,200,10,10,5,None,5493
49,564367838,None,MMMM,234,9056,10,657,20,8956,VVVVVV,1212
50,67324678326,EUR,None,None,45,None,None,None,None,AMAM,None
51,32734782,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
52,21772250,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
53,22151902,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
54,46835781,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
55,20942931,None,None,0.000000000000,100.000000000000,0.000000000000,0.000000000000,0.000000000000,0.000000000000,SELLER 11,1999
56,22759962,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
57,20090399,None,None,5,20,100,10,10,10,None,None
58,8216817,EUR,None,None,0.000000000000,None,None,None,None,AMAM,None
59,23126647,USD,None,None,0.000000000000,None,None,None,None,AMAM,None

In [79]:
resultado.unpersist()

DataFrame[nb: string, M_CCY: string, M_CLIENT: string, M_CRDTCHRG: string, M_DIRECTIAV: string, M_DISCMARGIN: string, M_LIQDTYCHRG: string, M_MVA: string, M_RVA: string, M_SELLER: string, M_SUCURSAL: string]